
h1 {
   font-family: 'Saira Condensed', sans-serif;
   font-size: 60px;
   font-size: 500;
  
}

h2 {
      
   font-family: 'Saira Condensed', sans-serif;
   font-size: 34px;
   font-weight: 600;
  }

h3 {
   font-family: 'Saira Condensed', sans-serif;
   font-size: 28px;
   font-weight: 500; 
}

p {
   font-family:'Open Sans', sans-serif;
   font-size: 16px;
   line-height: 30px;
   font-weight: 400;
   font-size: 19px;
}


ol, li {
   margin: 0;
   list-style: none;   
}

li{
  padding-right: 15px;
}

a {
   text-decoration: none;
}

.container {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(7, auto);
   justify-items: center;
  }

.sub-container {
   width: 100%;
   max-width: 1200px;
   margin: auto; 
}

.logo {
   width: 210px;
   height: 62px;
}

.bar-menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 7px 0;

}


.menu ol {
   display: flex;
   
}

.menu a {
   font-family:'Open Sans', sans-serif;
   color: rgb(25, 25, 25);
   font-size: 15px;
   font-weight: 600;
   text-transform: uppercase;
}

.main-hero {
  display: flex;
  width: 100%;
  height: 80vh;
  background-image: url(../img/main-hero.jpg);
  background-size: cover;
  background-position: center;
}

.main-hero h1 {
  color: white;
  line-height: 1;
  text-transform: capitalize;
  margin: 0;
}



.main-hero p {
  color: white;
  padding-right: 350px;
}