
/* estilos globales */
html {
   font-size: 62.5%; /** Reset para REMS - 62.5 = 10px de 16px **/
}

h1 {
   font-family: 'Saira Condensed', sans-serif;
   font-size: 60px;
   font-size: 500;
  
}

h2 {
      
   font-family: 'Saira Condensed', sans-serif;
   font-size: 38px;
   font-weight: 900;
  }

h3 {
   font-family: 'Saira Condensed', sans-serif;
   font-size: 28px;
   font-weight: 500; 
}

p {
   font-family:'Open Sans', sans-serif;
   font-size: 16px;
   line-height: 30px;
   font-weight: 400;
}


ol, li {
   margin: 0;
   list-style: none;   
}

li{
  padding-right: 15px;
}

a {
   text-decoration: none;
}

.contenedor {
   max-width: 120rem; /** = 1200px de ancho **/
   margin: 0 auto 0 auto;
   padding-left: 10px;
   padding-right: 10px;
}

.seccion {
   margin-top: 4rem;
   margin-bottom: 3rem;
}

.background-container {
   display: flex;
   width: 100%;
   height: 80vh; 
   background-size: cover;
   background-position: center;
}  

.sub-container {
   width: 100%;
   max-width: 1200px;
   margin: auto; 
   padding-left: 8px;
   padding-right: 8px;
}


.myButton {
   background-color:#0099da;
   border-radius:3px;
   border:1px solid #0099da;
   display:inline-block;
   cursor:pointer;
   color:#ffffff;
   font-family: 'Open Sans', sans-serif;
   font-size:16px;
   text-transform: uppercase;
	font-weight:bold;
	padding:16px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #383838;
}
.myButton:hover {
   background-color:#7a7a7a;
   border:1px solid #7a7a7a;

}
.myButton:active {
	position:relative;
	top:1px;
}

.line {
   border-top: 2px solid #0099da;
   max-width: 60px;
   height: 2px;
   padding: 0;
 }

/* Header - menú */

.logo {
   width: 210px;
   height: 62px;
}

.bar-menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 7px 8px;

}

.menu ol {
   display: flex;  
}

.menu a {
   font-family:'Open Sans', sans-serif;
   color: rgb(25, 25, 25);
   font-size: 15px;
   font-weight: 600;
   text-transform: uppercase;
}

.menu a:hover {
   color: #0097D9;
}

/* Hero */

.main-hero {
  /* ojo con la ruta para no afectar en GHub pages */
  background-image: url(../img/main-hero.jpg); 
}

.main-hero h1 {
  color: white;
  line-height: 1;
  text-transform: capitalize;
  margin: 0;
}


.main-hero p {
  color: white;
  padding-right: 350px;
  font-size: 19px;
}

/* main section */

.portfolio {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;

   
}

.intro-portfolio {
   display: flex;
   justify-content: center;
}

.services {
   display: flex;
   flex-wrap: nowrap;
   margin-top: 20px;
}

.service-item {
   display: flex;
}

.service-item img {
   width: 100px;
   height: 100px;
}

/* About */

.about {

   background-image: url(../img/bg-iconbox-1.jpg); 
   background-color: red;
}

.items-about {
   display: flex;
}

.items-about p {
   color: aliceblue;
}