h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: ;
}


.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7fr);
}


header {
    padding: 8px 0;
}

header .logo {
  width: 15%;

}